@font-face {
  font-family: "Expansiva";
  src: url(../Fonts/Expansiva/Expansiva.otf);
}

@font-face {
  font-family: "Expansiva Bold";
  src: url(../Fonts/Expansiva/Expansiva\ bold.otf);
}

/* ------------------------------ Variables ------------------------------ */

:root {
  /* Colors */
  --purple: #7161F5;
  --purple-blue: #626CF5;
  --purple-blue-lighter: #6286F5;
  --turquoise: #62F5E6;
  --green: #61F570;
  --yellow: #E6F561;
  --darker: #040117;
  --dark: #07032E;
  --light: #F5F4FE;
  --lighter: #FFFFFF;
  --background-text: rgba(113, 97, 245, 0.05);
  --grey-text: #ABABAB;

  /* Font type */
  --body-font: 'obvia';
  --header-font: 'Expansiva';
  --header-font-bold: 'Expansiva Bold';

  /* Font size */
  --normal-font-size: 1rem;
  --small-font-size: 0.9rem;

  /* Shadows */
  --main-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.16);
  --hover-shadow: 0px 3px 6px 6px rgba(0, 0, 0, 0.25);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  box-sizing: inherit;
  scroll-behavior: smooth;
  margin: auto;
}

body {
  background-image: linear-gradient(to right, var(--darker), var(--dark));
  font-family: var(--body-font);
  font-weight: var(--font-regular);
  color: var(--light);
}

/* ------------------------------ Fonts ------------------------------ */

h1 {
  font-family: var(--header-font-bold);
}

h2,
h3 {
  font-family: var(--header-font);
}

h3 {
  color: var(--grey-text);
}

h4 {
  font-family: var(--body-font);
  font-weight: var(--font-regular);
}

h5 {
  font-family: var(--body-font);
  font-weight: var(--font-regular);
  color: var(--grey-text);
}

b {
  font-family: var(--header-font-bold);
  color: var(--green);
}

strong {
  color: var(--purple-blue);
}

button {
  font-family: var(--body-font);
  color: var(--light);
}

a {
  color: var(--light);
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: var(--green);
}

span {
  color: var(--purple);
}

/* ------------------------------ Reusable classes ------------------------------ */

button {
  border-radius: 20px 5px 10px 10px;
  border: 1px transparent;
  background-image: linear-gradient(to right, var(--purple), var(--darker));
  border: 1px solid var(--darker);
  transition: all 0.3s ease-in-out;
}

button:hover {
  cursor: pointer;
  border: 1px solid var(--green);
  color: var(--green);
  background-image: linear-gradient(to right, var(--purple), var(--dark));
}

/* ------------------------------ Scroll progress ------------------------------ */

.progressSection {
  position: fixed;
  width: 1px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  will-change: transform;
  transition: 0.3s ease-in-out;
  z-index: 90;
}

.progressBarWrap {
  position: relative;
  width: 1px;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--purple);
  box-shadow: 0px 3px 6px var(--main-shadow);
}

.progressBar {
  position: absolute;
  transform: translateX(-1px);
  bottom: 0;
  width: 3px;
  border: 1px solid var(--green);
  border-radius: 10px;
  height: 0%;
  background-color: var(--green);
  box-shadow: 0px 3px 6px var(--main-shadow);
}

.progressNum {
  color: var(--grey-text);
  position: fixed;
  right: 10px;
  bottom: 0;
}

/* ------------------------------ Strips ------------------------------ */

.strip {
  position: fixed;
  width: 1px;
  height: 100vh;
  background: rgba(113, 97, 245, 0.3);
  z-index: 100;
}

.one {
  left: 26.66%;
  top: 0;
}

.two {
  left: 50%;
  top: 0;
}

.three {
  right: 26.66%;
  top: 0;
}

/* ------------------------------ Header section ------------------------------ */

#header {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo {
  position: fixed;
  width: 70px;
  height: 70px;
  z-index: 100;
  align-items: center;
  justify-content: center;
}

.menu {
  z-index: 92;
  position: absolute;
  background: rgba(0, 0, 0, 0.99);
  height: 100vh;
  width: 100%;
  right: -100%;
}

.data {
  padding: 30vh 0 0 0;
  text-align: center;
}

.menu ul {
  list-style: none;
}

.menu li {
  color: var(--lighter);
  font-size: 42px;
}

.menu a {
  text-decoration: none;
  color: var(--lighter);
  transition: all 0.5s ease-in-out;
}

.menu a:hover {
  color: var(--green);
}

/* ------------------------------ Menu burger ------------------------------ */

.menuBtn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 99;
  transition: all 0.5s ease-in-out;
}

.menuBtnBurger {
  content: '';
  position: absolute;
  width: 42px;
  height: 4px;
  border-radius: 10px;
  background: var(--purple-blue);
  transition: all 0.5s ease-in-out;
}

.menuBtnBurger::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 4px;
  border-radius: 10px;
  background: var(--purple);
  transition: all 0.5s ease-in-out;
}

.menuBtnBurger::before {
  transform: translate(12px, -10px);
}

.menuBtnBurger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 4px;
  border-radius: 10px;
  background: var(--purple-blue-lighter);
  transition: all 0.5s ease-in-out;
}

.menuBtnBurger::after {
  transform: translate(6px, 10px);
}

/* ------------------------------ Burger animation ------------------------------ */

.menuBtn.open .menuBtnBurger {
  transform: rotate(-70deg) translate(0, -10px);
}

.menuBtn.open .menuBtnBurger::before {
  transform: rotate(95deg) translate(17px, -20px);
}

.menuBtn.open .menuBtnBurger::after {
  transform: rotate(44deg) translate(21px, 11px);
}

.menuBtn.open .navbar {
  width: 100%;
}

/* ---------------------------------- Canvas ---------------------------------- */

canvas {
  /* border: 1px solid var(--purple-blue-lighter); */
  position: absolute;
  width: 100%;
  user-select: none;
}

/* ---------------------------------- Background text ---------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6,
p,
.backgroundText,
.backgroundTextLeft,
.contactBackgroundText {
  user-select: none;
}

.heroH1,
.heroH2 {
  margin-bottom: 15px;
}

.backgroundText {
  display: grid;
  grid-column: 10 / 17;
  grid-row: 2 / span 10;
  font-size: 17vw;
  font-family: var(--header-font-bold);
  color: var(--background-text);
  pointer-events: none;
  overflow: hidden;
  text-orientation: mixed;
  writing-mode: vertical-rl;
}

.backgroundTextLeft {
  display: grid;
  grid-column: 1 / 8;
  grid-row: 2 / span 10;
  font-size: 17vw;
  font-family: var(--header-font-bold);
  color: var(--background-text);
  pointer-events: none;
  overflow: hidden;
  text-orientation: mixed;
  writing-mode: vertical-lr;
}

.contactBackgroundText {
  display: grid;
  grid-column: 1 / 17;
  grid-row: 5 / span 5;
  font-size: 15vw;
  text-orientation: mixed;
  writing-mode: horizontal-tb;
}

.piotrBackgroundText {
  font-size: 15vw;
  text-orientation: mixed;
  writing-mode: horizontal-tb;
}

.baniaBackgroundText {
  font-size: 15vw;
  text-orientation: mixed;
  writing-mode: horizontal-tb;
}

/* ---------------------------------- Sections ---------------------------------- */

section {
  margin: auto;
}

.heroSection {
  height: 100vh;
  position: relative;
}

div {
  max-width: 1680px;
}

#section_C,
#section_E {
  background-image: linear-gradient(to right, var(--lighter), var(--light));
  color: var(--dark);
}

#section_B,
#section_D,
#section_F {
  background-image: linear-gradient(to left, var(--darker), var(--dark));
  color: var(--light);
}

#section_A {
  color: var(--light);
}

/* ---------------------------------- Thank you page ---------------------------------- */

.thankYouPage {
  margin: 40vh auto;
  text-align: center;
}

/* ---------------------------------- Portfolio section ---------------------------------- */

.currentProjects,
.otherProjects,
.labText,
.skillsText,
.aboutText,
.contactText {
  padding: 100px 0;
}

.cardsPortfolioCurrent {
  display: grid;
  grid-column: 3 / 15;
  grid-row: 3 / span 1;
  gap: 9vw;
}

.cardsPortfolioOther {
  display: grid;
  grid-column: 3 / 15;
  grid-row: 7 / span 1;
  gap: 6vw;
}

.cardPortfolio {
  color: var(--light);
  border-radius: 20px 5px 10px 10px;
  padding: 35px;
  opacity: 50%;
  transition: all 0.3s ease-in-out;
}

.cardPortfolio:hover {
  opacity: 100%;
  cursor: pointer;
  box-shadow: 0px 3px 6px var(--hover-shadow);
  transform: translateY(-3px);
}

.project {
  position: relative;
  z-index: 5;
}

.layer {
  position: absolute;
  background: linear-gradient(to right, #190AA1, rgba(113, 97, 245, 0));
  border-radius: 20px 5px 10px 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.details {
  position: relative;
  transform: translateX(-25%);
  padding-top: 15%;
  z-index: 15;
}

.title {
  color: var(--yellow);
}

.subtitle {
  color: var(--light)
}

.number {
  color: var(--grey-text);
}

hr {
  margin: 10px 0;
  width: 50%;
  border: 1px solid var(--green);
  border-radius: 10px;
}

.under {
  position: absolute;
  bottom: -40px;
  padding: 10px;
  display: inline-block;
  z-index: 15;
}

.languages {
  left: 0;
  color: var(--turquoise);
}

.github {
  right: 25%;
  transition: all 0.3s ease-in-out;
}

.github:hover {
  color: var(--green);
  text-decoration: underline;
}

.live {
  right: 0;
  transition: all 0.3s ease-in-out;
}

.live:hover {
  color: var(--green);
  text-decoration: underline;
}

.icon {
  position: relative;
  top: 8px;
  height: 30px;
  width: 30px;
}

.project1 {
  background: url(../Images/Cards/Projects/project1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.project2 {
  background: url(../Images/Cards/Projects/project2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* ---------------------------------- Lab section ---------------------------------- */

.cardsLab {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column: 3 / 15;
  grid-auto-rows: 300px;
  grid-row: 3 / span 6;
  gap: 16px;
}

.cardLab {
  background-image: linear-gradient(to right, var(--darker), var(--purple));
  color: var(--light);
  border-radius: 20px 5px 10px 10px;
  padding: 35px;
  opacity: 50%;
  transition: all 0.3s ease-in-out;
  display: grid;
  align-content: end;
}

.cardLab:hover {
  opacity: 100%;
  cursor: pointer;
  box-shadow: 0px 3px 6px var(--hover-shadow);
  transform: translateY(-3px);
}

/* ---------------------------------- Contact Section ---------------------------------- */

#section_F {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}

.findMe {
  display: grid;
  grid-column: 1 / span 6;
  grid-row: 1 / span 1;
}

.socialMedia {
  display: grid;
  grid-column: 2 / span 6;
  grid-row: 2 / span 1;
}

.socials.socials1,
.socials.socials2,
.socials.socials3,
.socials.socials4 {
  display: inline-block;
}

.socials1 {
  display: grid;
  grid-column: 1 / span 3;
  grid-row: 3 / span 1;
}

.socials2{
  display: grid;
  grid-column: 1 / span 3;
  grid-row: 4 / span 1;
}

.socials3 {
  display: grid;
  grid-column: 4 / span 3;
  grid-row: 3 / span 1;
}

.socials4 {
  display: grid;
  grid-column: 4 / span 3;
  grid-row: 4 / span 1;
}

.email {
  display: grid;
  grid-column: 2 / span 6;
  grid-row: 4 / span 1;
}

.contactForm {
  display: grid;
  grid-column: 8 / span 6;
  grid-row: 2 / span 3;
}

form {
  color: var(--grey-text);
}

.inputLine,
.inputLine:focus {
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--green);
  color: var(--light);
  width: 300px;
}

.inputLine1 {
  display: grid;
  grid-column: 8 / span 6;
  grid-row: 1 / 2;
}

.inputLine2 {
  display: grid;
  grid-column: 8 / span 6;
  grid-row: 2 / 3;
}

.placeholder {
  display: grid;
  grid-column: 8 / span 6;
  grid-row: 3 / 4;
}

.placeholder,
.placeholder:focus {
  height: 150px;
  width: 300px;
  background: rgba(113, 97, 245, 0.25);
  border: 1px solid var(--purple);
  border-radius: 20px 5px 10px 10px;
  color: var(--grey-text);
}

.submitButton {
  margin-top: 16px;
}

/* ---------------------------------- Media queries ---------------------------------- */

/* ----- Desktop ----- */

@media screen and (min-width: 1280px) {

  section {
    padding: 40px 120px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 16px;
  }

  .logo {
    left: 120px;
    top: 40px;
  }

  .menuBtn {
    top: 60px;
    right: 130px;
  }

  .progressSection {
    right: 120px;
    bottom: 40px;
  }

  h1 {
    font-size: 2.441rem;
  }

  h2 {
    font-size: 1.953rem;
  }

  h3 {
    font-size: 1.563rem;
    color: var(--grey-text);
  }

  h4 {
    font-size: 25px;
    color: var(--yellow);
  }

  h5 {
    font-size: 20px;
    color: var(--light);
  }

  .heroText {
    display: grid;
    grid-column: 3 / span 10;
    grid-row: 6 / span 2;
  }

  .canvas {
    display: grid;
    grid-column: 6 / 17;
    grid-row: 3 / span 5;
    margin: auto;
  }

  .currentProjects,
  .labText,
  .skillsText,
  .aboutText,
  .contactText {
    display: grid;
    grid-column: 5 / span 10;
    grid-row: 1 / span 1;
  }

  .otherProjects {
    display: grid;
    grid-column: 5 / span 10;
    grid-row: 6 / span 1;
  }

  button {
    padding: 0.8rem 2rem;
    font-size: 1rem;
  }

  .piotrBackgroundText {
    display: grid;
    grid-column: 1 / 16;
    grid-row: 2 / span 4;
  }

  .baniaBackgroundText {
    display: grid;
    grid-column: 2 / 17;
    grid-row: 5 / span 4;
  }

  .cardsPortfolioCurrent,
  .cardsPortfolioOther {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 300px;
  }
}

/* ----- Laptop ----- */

@media screen and (min-width: 900px) and (max-width: 1279px) {

  section {
    padding: 30px 80px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 16px;
  }

  .logo {
    left: 80px;
    top: 30px;
  }

  .menuBtn {
    top: 55px;
    right: 90px;
  }

  .progressSection {
    right: 80px;
    bottom: 30px;
  }

  h1 {
    font-size: 2.074rem;
  }

  h2 {
    font-size: 1.728rem;
  }

  h3 {
    font-size: 1.44rem;
  }

  .heroText {
    display: grid;
    grid-column: 3 / span 10;
    grid-row: 6 / span 1;
  }

  .canvas {
    display: grid;
    grid-column: 5 / 17;
    grid-row: 3 / span 5;
    margin: auto;
  }

  .currentProjects,
  .labText,
  .skillsText,
  .aboutText,
  .contactText {
    display: grid;
    grid-column: 5 / span 10;
    grid-row: 1 / span 1;
  }

  .otherProjects {
    display: grid;
    grid-column: 5 / span 10;
    grid-row: 6 / span 1;
  }

  button {
    padding: 0.75rem 1.85rem;
    font-size: 0.9rem;
  }

  .piotrBackgroundText {
    display: grid;
    grid-column: 1 / 16;
    grid-row: 3 / span 4;
  }

  .baniaBackgroundText {
    display: grid;
    grid-column: 2 / 17;
    grid-row: 5 / span 4;
  }

  .cardsPortfolioCurrent,
  .cardsPortfolioOther {
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-auto-rows: 200px;
  }
}

/* ----- iPad ----- */

@media screen and (min-width: 481px) and (max-width: 899px) {

  section {
    padding: 20px 40px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 16px;
  }

  .logo {
    left: 40px;
    top: 20px;
  }

  .menuBtn {
    top: 45px;
    right: 50px;
  }

  .progressSection {
    right: 40px;
    bottom: 20px;
  }

  h1 {
    font-size: 1.602rem;
  }

  h2 {
    font-size: 1.424rem;
  }

  h3 {
    font-size: 1.266rem;
  }

  .heroText {
    display: grid;
    grid-column: 3 / span 10;
    grid-row: 3 / span 1;
  }

  .canvas {
    display: grid;
    grid-column: 2 / 16;
    grid-row: 4 / span 3;
    margin: auto;
  }

  .currentProjects,
  .labText,
  .skillsText,
  .aboutText,
  .contactText {
    display: grid;
    grid-column: 5 / span 10;
    grid-row: 1 / span 1;
  }

  .otherProjects {
    display: grid;
    grid-column: 5 / span 10;
    grid-row: 6 / span 1;
  }

  button {
    padding: 0.65rem 1.5rem;
    font-size: 0.8rem;
  }

  .piotrBackgroundText {
    display: grid;
    grid-column: 1 / 16;
    grid-row: 2 / span 4;
  }

  .baniaBackgroundText {
    display: grid;
    grid-column: 2 / 17;
    grid-row: 4 / span 4;
  }

  .cardsPortfolioCurrent,
  .cardsPortfolioOther {
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-auto-rows: 250px;
  }
}

/* ----- Mobile ----- */

@media screen and (max-width: 480px) {

  section {
    padding: 10px 20px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 16px;
  }

  .logo {
    left: 20px;
    top: 10px;
  }

  .menuBtn {
    top: 35px;
    right: 30px;
  }

  .progressSection {
    right: 20px;
    bottom: 10px;
  }

  h1 {
    font-size: 1.296rem;
  }

  h2 {
    font-size: 1.215rem;
  }

  h3 {
    font-size: 1.138rem;
  }

  .heroText {
    display: grid;
    grid-column: 3 / span 10;
    grid-row: 3 / span 1;
  }

  .canvas {
    display: grid;
    grid-column: 1 / 17;
    grid-row: 4 / span 5;
    margin: auto;
  }

  .currentProjects,
  .labText,
  .skillsText,
  .aboutText,
  .contactText {
    display: grid;
    grid-column: 3 / span 10;
    grid-row: 1 / span 1;
  }

  .otherProjects {
    display: grid;
    grid-column: 5 / span 10;
    grid-row: 6 / span 1;
  }

  button {
    padding: 0.6rem 1.25rem;
    font-size: 0.75rem;
  }

  .piotrBackgroundText {
    display: grid;
    grid-column: 1 / 16;
    grid-row: 3 / span 4;
  }

  .baniaBackgroundText {
    display: grid;
    grid-column: 2 / 17;
    grid-row: 4 / span 4;
  }

  .cardsPortfolioCurrent,
  .cardsPortfolioOther {
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-auto-rows: 200px;
  }
}